<%posts.each do |i|%>
	<div class="box">
		<p id="id"><%= i[0]%></p>
		<p id="date"><%= i[1]%></p>
		<p id="likes"><%= i[2]%></p>
		<p id="dislikes"><%= i[3]%></p>
		<p id="title"><%= i[4]%></p>
		<p id="desc"><%= i[5]%></p>
	</div>
<%end%>