<%post.each do |i|%>
	<div class="box">
		<p id="id"><%= post[0]%></p>
		<p id="date"><%= post[1]%></p>
		<p id="likes"><%= post[2]%></p>
		<p id="dislikes"><%= post[3]%></p>
		<p id="title"><%= post[4]%></p>
		<p id="desc"><%= post[5]%></p>
	</div>
<%end%>